* {
  margin: 0;
  padding: 0;
}

/* coolors website provides good color palletes */
body {
  background-color: #548687;
  background-color: #921a40;
  background-color: #2a4038;
  /* background-color: #921; */
  /* background-color: #7e4b8b; */
  /* background-color: #4C020F; */
  
  text-align: center;
}

.container {
 
  height: 70vh;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
}


.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 
  gap: 1.5vmin;
}

.box {
  
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #b0413e;
  background-color: #ffffc7;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#h1 {
  color: whitesmoke;
}

#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#msg {
  color: #ffffc7;
  font-size: 8vmin;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

#excited {
  width: 45vmin;
}

.hide {
  display: none;
}

/* .line {
  background-color: black;
  height: 100%;
  width: 60vmin;
  position: absolute;
} */



